%tr{ class: boardcheck.issues_present? ? 'error' : 'success' }
  %td= boardcheck.room.name
  %td=l boardcheck.created_at.to_date, format: :short
  %td= boardcheck.user.firstname rescue '?'
  %td.center= format_tick !boardcheck.issues_present
  %td= markdown boardcheck.issues
  %td= boardcheck.note
  - if permitted_to? :edit, boardcheck
    %td
      .btn-group
        %a.btn.btn-primary.btn-small{ href: boardcheck_path(boardcheck) }
          %i.icon-file.icon-white= " Details"
        - if permitted_to? :edit, boardcheck
          %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
            %span.caret
          %ul.dropdown-menu
            %li= link_to "<i class='icon-edit'></i> Bearbeiten".html_safe, edit_boardcheck_path(boardcheck)
            %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, boardcheck_path(boardcheck), data: { method: :delete, confirm: 'Seid Ihr sicher?' }
