= simple_form_for @boardcheck, :html => { :class => 'form-horizontal boardcheck' } do |f|
  %fieldset 
    %legend Hardware
    = f.association :room, collection: Room.ordered
    -# = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
    -# = f.input :undamaged, label: "Keine offensichtlichen Beschädigungen"
    = f.input :undamaged, label: "Keine offensichtlichen Beschädigungen", :wrapper => :inline_checkbox
    = f.input :timetable_present, label: 'Tafelritterplan vorhanden und aktuell', :wrapper => :inline_checkbox
    = f.input :speakers_on, label: 'Lautsprecher eingeschaltet, grüne Lampe leuchtet', :wrapper => :inline_checkbox
    = f.input :speakers_volume_set, label: 'Lautstärke auf ca. 70% gestellt; Höhen und Bass in der Mitte', :wrapper => :inline_checkbox
    = f.input :projector_remote_ok, label: 'Beamer-Fernbedienung vorhanden und funktioniert', :wrapper => :inline_checkbox
    = f.input :projector_source_set, label: 'Bildquelle korrekt eingestellt', :wrapper => :inline_checkbox
    = f.input :keyboard_ok, label: 'Tastatur vorhanden und funktioniert', :wrapper => :inline_checkbox
    = f.input :teacher_pen_ok, label: 'Lehrerstift vorhanden und funktioniert', :wrapper => :inline_checkbox
    = f.input :student_pen_ok, label: 'Schülerstift vorhanden und funktioniert', :wrapper => :inline_checkbox
    = f.input :image_aligned, :wrapper => :inline_checkbox, label: 'Bild richtig auf Tafel ausgerichtet'
    = f.input :sharpness_set, :wrapper => :inline_checkbox, label: 'Bild scharf gestellt'
    = f.input :computer_state, collection: Boardcheck::STATES.map { |k,v| [v, k] }, hint: 'Beim Betreten des Raums'

  %fieldset 
    %legend Betrieb
    = f.input :guest_account_ok, :wrapper => :inline_checkbox, label: 'Gast-Konto vorhanden'
    = f.input :network_accounts_ok, :wrapper => :inline_checkbox, label: 'Netzwerk-Konten vorhanden'
    = f.input :activdriver_ok, label: 'Promethean-Symbol leuchtet in der Menüleiste & hat <em>kein</em> rotes X', :wrapper => :inline_checkbox
    = f.input :calibrated, :wrapper => :inline_checkbox, label: 'Board ist korrekt kalibiert'
    = f.input :speakers_driver_ok, label: 'Tonquelle "Promethean USB" ist ausgewählt', :wrapper => :inline_checkbox
    = f.input :updates_loaded, label: '"Geführte Softwareaktualisierung" erfolgreich aufgerufen', :wrapper => :inline_checkbox
    = f.input :issues_present, label: '<b>Probleme bestehen</b>', hint: "Nur ankreuzen, wenn wirklich Probleme nicht behoben werden konnten!", :wrapper => :inline_checkbox

  %fieldset 
    %legend Anmerkungen
    = f.input :note, label: 'Bitte eintragen, was zur Fehlerbehebung unternommen wurde', input_html: { class: 'span5', :rows => 8 }, :wrapper => :inline_checkbox
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
