%table.table
  %thead
    %tr
      %th Raum
      %th Datum
      %th Tafelritter
      %th OK?
      %th Probleme
      %th Bemerkungen
      - if permitted_to? :edit, :boardchecks
        %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render boardchecks
