- model_class = Boardcheck
.page-header
  %h1
    %i.icon-check
    =t '.title', :default => model_class.model_name.human(count: 3)

- if permitted_to? :create, Boardcheck.new
  %p= link_to 'Neuen Tafelcheck durchführen', new_boardcheck_path, :class => 'btn btn-primary'

= render partial: 'table', locals: { boardchecks: @boardchecks }
