- model_class = Boardcheck
.page-header
  %h1
    Tafelcheck
    = @boardcheck.room.name
  %h3
    Ritter
    = (@boardcheck.user.firstname rescue 'Unbekannt') + ", "
    = l @boardcheck.created_at, format: :medium

%table.table.table-bordered
  %thead
    %tr
      %th Überprüfung
      %th Ergebnis
  %tbody
    = format_check_cell(@boardcheck, :undamaged)
    = format_check_cell(@boardcheck, :timetable_present)
    = format_check_cell(@boardcheck, :speakers_on)
    = format_check_cell(@boardcheck, :speakers_volume_set)
    = format_check_cell(@boardcheck, :projector_remote_ok)
    = format_check_cell(@boardcheck, :projector_source_set)
    = format_check_cell(@boardcheck, :keyboard_ok)
    = format_check_cell(@boardcheck, :teacher_pen_ok)
    = format_check_cell(@boardcheck, :student_pen_ok)
    = format_check_cell(@boardcheck, :image_aligned)
    = format_check_cell(@boardcheck, :sharpness_set)
    %tr{ class: (@boardcheck.computer_state < 2 ? 'success' : 'error') }
      %td
        Computer war:
        %b= @boardcheck.computer_state_s
      %td.center= format_tick(@boardcheck.computer_state != 2)
    = format_check_cell(@boardcheck, :guest_account_ok)
    = format_check_cell(@boardcheck, :network_accounts_ok)
    = format_check_cell(@boardcheck, :activdriver_ok)
    = format_check_cell(@boardcheck, :calibrated)
    = format_check_cell(@boardcheck, :speakers_driver_ok)
    = format_check_cell(@boardcheck, :updates_loaded)
    %tr{ class: (@boardcheck.issues_present ? 'error' : 'success') }
      %td= model_class.human_attribute_name(:issues_present)
      %td.center= format_tick @boardcheck.issues_present

- if @boardcheck.note.present?
  %h2 Anmerkungen
  = markdown @boardcheck.note

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn'
  - if permitted_to? :edit, @boardcheck
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_boardcheck_path(@boardcheck), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), boardcheck_path(@boardcheck), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
