= simple_form_for @quest, :html => { :class => 'form-horizontal' } do |f|
  = f.association :room, collection: Room.ordered, disabled: true
  = f.association :period, disabled: true
  = f.input :problem, label: 'Problem war'
  = f.association :user, collection: User.ordered, as: :hidden
  = f.input :note, :input_html => { :rows => 5 }
  = f.input :solved

  .form-actions
    = f.button :submit, 'Speichern', :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
