%table.table
  %thead
    %tr
      %th Raum
      %th Stunde
      %th= Quest.human_attribute_name(:user)
      %th= Quest.human_attribute_name(:problem)
      %th Behoben
      %th= Quest.human_attribute_name(:note)
      %th= Quest.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - quests.each do |quest|
      %tr{ class: format_quest_class(quest) }
        %td= quest.room.name
        %td= quest.period.name
        %td= quest.user.firstname rescue '-'
        %td= quest.problem
        %td.center= format_tick quest.solved
        %td= quest.note
        %td=l quest.created_at, format: :short
        %td
          .btn-group
            - if permitted_to?(:edit, quest)
              = link_to "<i class='icon-white #{quest.user == current_user ? 'icon-star' : 'icon-star-empty'}'></i> Gesuch".html_safe, quest_path(quest), class: "btn btn-primary btn-small"
              %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
                %span.caret
              %ul.dropdown-menu
                %li= link_to "<i class='icon-star-empty'></i> Übernehmen".html_safe, accept_quest_path(quest), data: { method: :post } if quest.user.blank? && permitted_to?(:accept, quest)
                %li= link_to "<i class='icon-pencil'></i> Bearbeiten".html_safe, edit_quest_path(quest)
                %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, quest_path(quest), data: { method: :delete, confirm: 'Seid Ihr sicher?' } if permitted_to? :destroy, quest
            - elsif quest.user.blank? && permitted_to?(:accept, quest)
              = link_to "<i class='icon-star-empty'></i> Übernehmen".html_safe, accept_quest_path(quest), data: { method: :post }, class: "btn btn-primary btn-small"
            - else
              = link_to "<i class='icon-star-empty'></i> Gesuch".html_safe, quest_path(quest), class: "btn btn-primary btn-small"
