.page-header
  %h1
    %i.icon-medkit
    Hilfegesuche

= render partial: 'table', locals: { quests: @quests }

= link_to t('.new', :default => t("helpers.links.new")), new_quest_path, :class => 'btn btn-primary'
