.page-header
  %h1 Tafelrunde

%h2 Selbstsuche

%p Ihr seid in oder möchtet ein Problem melden in Raum …
= form_tag new_quest_path, method: :get, class: 'form-horizontal' do
  = select_tag 'room', options_for_select( Room.ordered.map { |r| [r.name, r.name] })
  = submit_tag "Anzeigen", name: nil, class: 'btn btn-primary'
