.page-header
  %h1
    Tafelrunde
    = 'in ' + @quest.room.name
    -# um #{l Time.now, format: :timeonly}

- if @room.users.any?
  %h2 Burgvögte

  %center
  %b= @room.users.by_level.map(&:titled).join(', ')


%h2 Hilfsbereite Ritter
- if @quest.period.blank? or @quest.period.users.empty?
  %p Es tut uns leid, aber für diese Uhrzeit ist kein Tafelritter zu haben. :(
- else
  %p
    Folgende Tafelritter stehen jetzt,
    %strong= format_day(@quest.period.day)
    in der
    %strong= @quest.period.number_human
    Stunde, zur Hilfe bereit:
  
  %ol
    - for duty in @duties
      %li
        - if duty.user.twitter_name.present?
          %i.icon-twitter
        = duty.user.level_s
        %strong= duty.user.firstname
        in Raum
        %strong= duty.room

%p= link_to "Zum vollständigen Tafelritterplan für #{@room.name}", knighttable_path(roomname: @room.name), class: 'btn'


-# %h2 Problem in #{@room.name} melden
%h2 Problem melden
= simple_form_for @quest do |f|
  = f.association :room, collection: Room.ordered, as: @quest.room.present? && :hidden
  = f.association :period, as: :hidden
  = f.input :problem, label: 'Kurze Problembeschreibung', input_html: { class: 'span7' } #, hint: 'Kann frei gelassen werden'
  = f.button :submit, 'Hilferuf ausstoßen!', :class => 'btn-primary'
