- model_class = Quest
.page-header
  %h1 Hilfegesuch in #{@quest.room.name}
  %h3
    = l @quest.created_at, format: :medium
    (#{@quest.period.number_human} Stunde
    = ", vor #{time_ago_in_words @quest.created_at}" if @quest.created_at > 8.hours.ago
    )

%table.table.table-striped
  %tbody
    %tr
      %th Tafelritter
      %td= @quest.user.name rescue '-'
    %tr
      %td Problem
      %td= @quest.problem.present? ? @quest.problem : '?'
    %tr
      %td= model_class.human_attribute_name(:note) + ':'
      %td= @quest.note.present? ? @quest.note : '-'
    %tr
      %td= model_class.human_attribute_name(:solved) + ':'
      %td= format_tick @quest.solved

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), quests_path, :class => 'btn'
  = link_to 'Herausforderung akzeptieren!', accept_quest_path(@quest), :method => 'post', :class => 'btn btn-primary' if @quest.user.blank? && permitted_to?(:accept, @quest)
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_quest_path(@quest), :class => 'btn' if permitted_to? :edit, @quest
  = link_to t('.destroy', :default => t("helpers.links.destroy")), quest_path(@quest), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if permitted_to? :destroy, @quest
