%h2 Benutzerkonto bearbeiten

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true
    = f.input :twitter_name
    
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Erwarte Bestätigung der E-Mail: #{resource.unconfirmed_email}
    = f.input :password, :autocomplete => "off", :hint => "Leer lassen, wenn Du das Passwort nicht ändern möchtest", :required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :hint => "Jetziges Passwort zur Bestätigung eingeben", :required => true
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn'
    = f.button :submit, 'Aktualisieren'


%h2 Benutzerkonto löschen

%p
  Unzufrieden mit dem Dasein als Tafelritter?
  %br
  = link_to "Konto löschen", registration_path(resource_name), :data => { :confirm => "Bist Du sicher, dass Du Deinen Account löschen möchtest?" }, :method => :delete
  \.
