%h2 Tafelritter werden!

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :firstname, :required => true
    = f.input :lastname, :required => true
    = f.input :year, collection: 5..12, :required => true
    = f.input :form, collection: 'a'..'e'
    = f.input :email, :required => true, :autofocus => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true

  .form-actions
    = f.button :submit, "Bewerben"

= render "devise/shared/links"
