%p Gott zum Gruß!
%hr

%p 
  Herzlichen Glückwunsch, #{@old_title} #{@user.firstname}, Ihr wurdet zum
  %strong= @user.level_s
  geschlagen!

%center
  Danke für Euren Einsatz für die elektronischen Tafeln der Marienschule.

%p
  Adieu,
  %br
  Euer Willifried,
  %br
  Sendbote der MSO Tafelrunde

%hr
Für Gutrats Ehr’ mit blanker Wehr!
