%p Gott zum Gruß, #{@user.titled}!
%hr

%p 
  Eure Hilfe wird dringend verlangt in
  %strong= @quest.room.name
  
- if @quest.problem.present?
  %p
    Das Problem scheint zu sein:
    %strong= @quest.problem

%p
  Solltet Ihr Euch dieses Problems gerade annehmen können,
  bestätigt dies bitte mit einem Lanzenstich auf diesen Link:

%p  
  %center= link_to "Ja, ich nehme die ritterliche Aufgabe an!", quest_url(@quest)

%p
  %center Danke für Euren beständigen Einsatz für die elektronischen Tafeln der Marienschule.

%p
  Adieu,
  %br
  Euer Willifried,
  %br
  Sendbote der marienschulischen Tafelrunde

%hr

%p
  Für Gutrats Ehr’ mit blanker Wehr!
