%p Gott zum Gruß, #{@user.titled}!
%hr

%p 
  Gute Nachrichten: Der Hilferuf aus
  %strong= @quest.room.name
  hat sich erledigt.

%p
  #{@quest.user.titled} hat sich bereit erklärt, sich um den Fall zu kümmern.

%p
  Solltet Ihr Euch dieses Problems gerade annehmen können,
  bestätigt dies bitte mit einem Lanzenstich auf diesen Link:

%p
  %center Danke für Eure Mühen!

%p
  Adieu,
  %br
  Euer Willifried,
  %br
  Sendbote der marienschulischen Tafelrunde

%hr

%p
  Für Gutrats Ehr’ mit blanker Wehr!
