%p Gott zum Gruß!
%hr

%p 
  Ein neues Mitglied wurde in unsere erlauchte Tafelrunde aufgenommen:
  %center= format_title_name(@user)

%p
  Adieu,
  %br
  Euer Willifried,
  %br
  Königlicher Sendbote des MSO Boardmanagers

%hr
Für Gutrats Ehr’ mit blanker Wehr!
