.page-header
  %h1
    %i.icon-calendar
    Tafelritterplan
    - if @room.present?
      für
      = @room.name

%table.table.table-bordered
  %thead
    %tr
      %th.span1 Stunde
      - 1.upto(5) do |day|
        %th.center= format_day day
  %tbody
    - @knighttable.each_with_index do |row, no|
      %tr
        %th.right #{no + 1}.
        - 1.upto(5) do |day|
          %td{ class: format_duty_class(row[day].size) }
            %table.knighttable
              - for duty in row[day]
                %tr
                  %td.name= duty.user.firstname
                  %td.room= duty.room

%p Stand: #{l Time.now}
