= simple_form_for @duty, :html => { :class => 'form-horizontal' } do |f|
  = f.input :user_id
  = f.input :period_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), duties_path, :class => 'btn'
