%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Tag
      %th Stunde
      %th Raum
  %tbody
    - duties.each do |duty|
      %tr
        %td= format_day duty.period.day
        %td= duty.period.number_human
        %td= duty.room
