%table.table.table-bordered
  %thead
    %tr
      %th.span1 Stunde
      - 1.upto(5) do |day|
        %th.span2.center= format_day day
  %tbody
    - timetable.each_with_index do |row, no|
      %tr
        %th.right #{no + 1}.
        - 1.upto(5) do |day|
          %td.span2.center 
            = row[day]
