- model_class = Duty

.page-header
  %h1 #{@user.firstname}: Bereitschaften bearbeiten

= form_tag "update_all" do
  %table.table.table-bordered
    %thead
      %tr
        %th Stunde
        - 1.upto(5) do |day|
          %th.center= format_day day
    %tbody
      - (0..7).each do |p|
        %tr
          %th.right #{p + 1}.
          - 1.upto(5) do |day|
            %td.center{ class: format_duty_class( @timetable_stats[p][day] ) }
              = text_field_tag "[duties]#{p}|#{day}", @timetable[p][day], maxlength: 12, :class => "span2"
  = link_to t('helpers.links.back'), :back, :class => 'btn'
  = submit_tag "Speichern", :class => 'btn btn-primary'


%h3 Legende
%table.table.table-bordered
  %tbody
    %tr
      %td.center.fail keine Bereitschaften
      %td.center.warn nur 1 oder 2 Bereitschaften
      %td.center.ok genügend Bereitschaften
