.page-header
  %h1 #{@user.titled}: #{@duties.count} Bereitschaften

= render partial: 'duties/table', locals: { timetable: @timetable }

= link_to "Zurück", user_path(@user), :class => 'btn'
= link_to "Bereitschaften bearbeiten", edit_all_user_duties_path(@user), :class => 'btn'
