- model_class = Duty
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @duty.user_id
%p
  %strong= model_class.human_attribute_name(:period_id) + ':'
  %br
  = @duty.period_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), duties_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_duty_path(@duty), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), duty_path(@duty), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
