%table.table.table-striped
  %tr
    %th.span3 Modell
    %td.span6= computer.model
  %tr
    %th Typbezeichnung
    %td= computer.kind
  %tr
    %th IP-Adresse
    %td= computer.ip
  %tr
    %th MAC-Adresse LAN
    %td= computer.mac_en_address
  %tr
    %th MAC-Adresse WiFi
    %td= computer.mac_wifi_address
  %tr
    %th Seriennummer
    %td= computer.serial
  %tr
    %th Kaufdatum
    %td= l computer.purchased_on, format: :my
  %tr
    %th Bemerkung
    %td= computer.note.present? ? markdown(computer.note) : '-'
