= simple_form_for @computer, :html => { :class => 'form-horizontal' } do |f|
  = f.association :room, collection: Room.ordered
  = f.input :model
  = f.input :kind
  = f.input :ip
  = f.input :mac_en_address
  = f.input :mac_wifi_address
  = f.input :serial
  = f.input :purchased_on, discard_day: true
  = f.input :note, input_html: { class: 'span6', :rows => 10 }
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), computers_path, :class => 'btn'
