- model_class = Computer
.page-header
  %h1
    %i.icon-desktop
    Computer
  
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nr.
      %th= model_class.human_attribute_name(:room)
      %th= model_class.human_attribute_name(:model)
      %th IP
      %th LAN
      -# %th WiFi
      %th Seriennr.
      %th Gekauft
      - if permitted_to? :edit, @computers.first
        %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @computers.each_with_index do |computer, i|
      %tr
        %td.right= i + 1
        %td
          %b= computer.room.name
        %td= computer.model
        %td= computer.ip
        %td= computer.mac_en_address
        -# %td= computer.mac_wifi_address
        %td= computer.serial
        %td=l computer.purchased_on, format: :my
        - if permitted_to? :edit, computer
          %td
            .btn-group
              = link_to "<i class='icon-desktop'></i> Details".html_safe, computer_path(computer), class: 'btn btn-primary btn-small'
              - if permitted_to? :edit, computer
                %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "<i class='icon-edit'></i> Bearbeiten".html_safe, edit_computer_path(computer)
                  %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, computer_path(computer), data: { method: :delete, confirm: 'Seid Ihr sicher?' }
