- model_class = Computer
.page-header
  %h1
    = image_tag "macmini.jpg"
    =t '.title', :default => model_class.model_name.human

= render @computer

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), computers_path, :class => 'btn'
  - if permitted_to? :edit, @boardcheck
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_computer_path(@computer), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), computer_path(@computer), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
