= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.input :firstname
  = f.input :lastname
  = f.input :email
  = f.input :twitter_name
  = f.input :year, collection: 5..12
  = f.input :form, collection: 'a'..'e'
  = f.input :level, collection: array_to_hash(User::LEVELS), include_blank: false
  = f.association :rooms, collection: Room.ordered

  -# = f.simple_fields_for :sponsorships do |builder|
  -#   = builder.association :room, label: 'Burg'
  -#   = builder.input :user_id, as: :hidden

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
