- model_class = User
.page-header
  %h1
    %i.icon-group
    Tafelritter

%p
  Aktuell gibt es an der Marienschule Opladen 
  %b #{@users.count} ausgebildete Tafelritter.

%table.table.table-striped
  %thead
    %tr
      %th Nr.
      %th= model_class.human_attribute_name(:yearform)
      %th= model_class.human_attribute_name(:firstname)
      - if permitted_to? :read, @users.first
        %th= model_class.human_attribute_name(:lastname)
      -# %th Ritterschlag
      %th Bereitschaft
      - if permitted_to? :read, :users
        %th Burg
        %th Prüfungen
        %th Gesuche
        %th Login
      - if permitted_to? :edit, :users
        %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each_with_index do |user, i|
      %tr{ class: user == current_user && 'success' }
        %td.right= i + 1
        %td= user.yearform
        %td
          %b= user.firstname
        - if permitted_to? :read, user
          %td= user.lastname
        -# %td=format_date user.created_at
        %td.right
          - if user.twitter_name.present?
            %i.icon-twitter.icon-white
          = format_number user.duties.count
        - if permitted_to? :show, user
          %td= user.rooms.ordered.map(&:name).join(', ')
          %td.right= format_number user.boardchecks.count
          %td.center #{format_number user.quests.solved.count} / #{format_number user.quests.count}
          %td=format_date user.last_sign_in_at, :short
        - if permitted_to? :edit, user
          %td
            .btn-group
              %a.btn.btn-primary.btn-small{ href: user_path(user) }
                %i.icon-user.icon-white= " #{user.level_s}"
              - if permitted_to? :edit, user
                %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "<i class='icon-envelope'></i> E-Mail".html_safe, format_email(user)
                  - if user.twitters?
                    %li= link_to "<i class='icon-twitter'></i> Test-Tweet".html_safe, tweet_user_path(user), method: :post
                  %li= link_to "<i class='icon-calendar'></i> Bereitschaften".html_safe, edit_all_user_duties_path(user)
                  %li= link_to "<i class='icon-pencil'></i> Einstellungen".html_safe, edit_user_path(user)
                  %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, user_path(user), data: { method: :delete, confirm: 'Seid Ihr Euch sicher?' }

- if permitted_to?(:create, User.new)
  %p= link_to 'Neuer Tafelritter', new_user_path, :class => 'btn btn-primary'
