- model_class = User
.page-header
  %h1 #{@user.level_s} #{@user.firstname}

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
  = link_to 'Bereitschaften bearbeiten', edit_all_user_duties_path(@user), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'


%h2 Hilfegesuche
- if @quests.present?
  = render partial: 'quests/table', locals: { quests: @quests }

%h2 Tafelchecks: #{@user.boardchecks.count}
- if @user.boardchecks.present?
  = render partial: 'boardchecks/table', locals: { boardchecks: @user.boardchecks.ordered }


%h2 Burgen
- if @rooms.any?
  = render partial: 'rooms/table', locals: { rooms: @rooms }
- else
  %p Du hast noch keine Burg zugewiesen bekommen.


%h2 #{Duty.model_name.human( count: @duties.count )}: #{@duties.count}
- if @timetable.present?
  = render partial: 'duties/table', locals: { timetable: @timetable }


%h2 Persönliche Daten
%table.table.table-striped
  %tr
    %th Name
    %td #{@user.firstname} #{@user.lastname}
  %tr
    %th E-Mail
    %td= link_to @user.email, format_email(@user)
  %tr
    %th Twitter
    %td= format_twitter(@user.twitter_name)
  %tr
    %th Rang
    %td= @user.level_s
  %tr
    %th Klasse/Stufe
    %td= @user.yearform
  %tr
    %th Bestätigt?
    %td= format_tick @user.confirmed?
  %tr
    %th Entsperrt?
    %td= format_tick !@user.access_locked?
  %tr
    %th Letzter Login
    %td= l @user.current_sign_in_at rescue '-'
