%h2 Passwort ändern

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, :as => :hidden
  = f.full_error :reset_password_token

  .form-inputs
    = f.input :password, :label => "Neues Passwort", :required => true, :autofocus => true
    = f.input :password_confirmation, :label => "Bestätige das neue Passwort", :required => true

  .form-actions
    = f.button :submit, "Ändere mein Passwort"

= render "devise/shared/links"
