%h2 Passwort vergessen?

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true
  .form-actions
    = f.button :submit, "Hinweise zum Zurücksetzen des Passworts senden"
= render "devise/shared/links"