= simple_form_for @projector, :html => { :class => 'form-horizontal' } do |f|
  = f.association :room, collection: Room.ordered
  = f.input :manufacturer
  = f.input :model
  = f.input :serial
  = f.input :resolution, hint: "Format 1600x1200"
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), projectors_path, :class => 'btn'
