%table.table.table-striped
  %tr
    %th.span3 Hersteller
    %td.span6= projector.manufacturer
  %tr
    %th Modell
    %td= projector.model
  %tr
    %th Seriennummer
    %td= projector.serial
  %tr
    %th Auflösung
    %td= projector.resolution
