- model_class = Projector
.page-header
  %h1
    %i.icon-lightbulb
    Beamer

%table.table.table-striped
  %thead
    %tr
      %th Nr.
      %th= model_class.human_attribute_name(:room)
      %th= model_class.human_attribute_name(:manufacturer)
      %th= model_class.human_attribute_name(:model)
      %th= model_class.human_attribute_name(:serial)
      %th= model_class.human_attribute_name(:resolution)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @projectors.each_with_index do |projector, i|
      %tr
        %td.right= i + 1
        %td
          %b= projector.room.name
        %td= projector.manufacturer
        %td= projector.model
        %td= projector.serial
        %td= projector.resolution
        - if permitted_to? :edit, projector
          %td
            .btn-group
              %a.btn.btn-primary.btn-small{ href: projector_path(projector) }
                %i.icon-lightbulb.icon-white= " Details"
              - if permitted_to? :edit, projector
                %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "<i class='icon-edit'></i> Bearbeiten".html_safe, edit_projector_path(projector)
                  %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, projector_path(projector), data: { method: :delete, confirm: 'Seid Ihr sicher?' }

- if permitted_to? :new, Projector.new
  %p= link_to 'Neuer Beamer', new_projector_path, :class => 'btn btn-primary'
