- model_class = Projector
.page-header
  %h1
    %i.icon-lightbulb
    = t '.title', :default => model_class.model_name.human
    in Raum
    = @projector.room.name

= render @projector

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), projectors_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_projector_path(@projector), :class => 'btn' if permitted_to?(:update, @projector)
  = link_to t('.destroy', :default => t("helpers.links.destroy")), projector_path(@projector), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if permitted_to?(:destroy, @projector)
