= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-signin' }) do |f|
    %h2.form-signin-heading Anmelden
    = f.input :email, :required => false, :autofocus => true, placeholder: 'Email-Adresse', label: false
    = f.input :password, :required => false, placeholder: 'Passwort', label: false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    = f.button :submit, "Anmelden", class: 'btn btn-large btn-primary'

    %hr
    %p= render "devise/shared/links"
