%table.table.table-striped
  %tr
    %th.span3 Hersteller
    %td.span6= board.manufacturer
  %tr
    %th Modell
    %td= board.model
  %tr
    %th Seriennummer
    %td= board.serial
  %tr
    %th Firmware
    %td= board.firmware
  %tr
    %th Kaufdatum
    %td= l board.purchased_on, format: :my
  %tr
    %th Bemerkung
    %td= board.note.present? ? markdown(board.note) : '-'
