= simple_form_for @board, :html => { :class => 'form-horizontal' } do |f|
  = f.association :room
  = f.input :manufacturer
  = f.input :model
  = f.input :serial
  = f.input :firmware
  = f.input :note
  = f.input :purchased_on, discard_day: true
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), boards_path, :class => 'btn'
