- model_class = Board
.page-header
  %h1
    %i.icon-picture
    Tafeln

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nr.
      %th= model_class.human_attribute_name(:room)
      %th= model_class.human_attribute_name(:manufacturer)
      %th= model_class.human_attribute_name(:model)
      %th= model_class.human_attribute_name(:serial)
      %th= model_class.human_attribute_name(:firmware)
      %th.span3= model_class.human_attribute_name(:note)
      - if permitted_to? :edit, :boards
        %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @boards.each_with_index do |board, i|
      %tr
        %td.right= i + 1
        %td
          %b= board.room.name
        %td= board.manufacturer
        %td= board.model
        %td= board.serial
        %td= board.firmware
        %td= board.note.present? ? markdown(board.note) : '-'
        - if permitted_to? :edit, board
          %td
            .btn-group
              %a.btn.btn-primary.btn-small{ href: board_path(board) }
                %i.icon-picture.icon-white= " Details"
              - if permitted_to? :edit, board
                %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "<i class='icon-edit'></i> Bearbeiten".html_safe, edit_board_path(board)
                  %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, board_path(board), data: { method: :delete, confirm: 'Seid Ihr Euch sicher?' }

- if permitted_to? :create, Board.new
  = link_to t('.new', :default => t("helpers.links.new")), new_board_path, :class => 'btn btn-primary'
