- model_class = Board
.page-header
  %h1 
    = image_tag "board.jpg"
    ActivBoard in #{@board.room.name}

= render partial: 'board', locals: { board: @board }

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), boards_path, :class => 'btn'
  - if permitted_to? :edit, @board
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_board_path(@board), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), board_path(@board), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
