= simple_form_for @room, :html => { :class => 'form-horizontal' } do |f|
  = f.error_messages
  %fieldset
    %legend Raum
    = f.input :building, collection: Room::BUILDINGS.map {|k, v| [v, k] }
    = f.input :level, collection: Room::LEVELS.map { |k,v| [v, k] }
    = f.input :name

  %fieldset
    %legend Computer
    = f.simple_fields_for :computer do |c|
      = c.input :model
      = c.input :kind
      = c.input :serial
      = c.input :ip
      = c.input :mac_en_address
      = c.input :mac_wifi_address
      = c.input :note, :input_html => { class: 'span5', :rows => 5 }
      = c.input :purchased_on, discard_day: true
      = c.input :_destroy, as: :boolean, label: 'Computer löschen'

  %fieldset
    %legend ActivBoard
    = f.simple_fields_for :board do |b|
      = b.input :manufacturer
      = b.input :model
      = b.input :serial
      = b.input :firmware
      = b.input :note, :input_html => { class: 'span5', :rows => 5 }
      = b.input :purchased_on, discard_day: true
      = b.input :_destroy, as: :boolean, label: 'Tafel löschen'

  %fieldset
    %legend Beamer
    = f.simple_fields_for :projector, @room.projector do |p|
      = p.input :manufacturer
      = p.input :model
      = p.input :serial
      = p.input :resolution, hint: "Format 1600x1200"
      = p.input :_destroy, as: :boolean, label: 'Beamer löschen'

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), rooms_path, :class => 'btn'
