%table.table.table-hover
  %thead
    %tr
      %th Nr.
      %th Name
      %th Ort
      %th Ausstattung
      %th Vogt
      %th Prüfungen / Letzte
      - if permitted_to? :read, :rooms
        %th Gesuche
        %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - rooms.each_with_index do |room, i|
      %tr{ class: format_boardcheck_class(room) }
        %td.right= i + 1
        %td
          %b= room.name
        %td #{room.building_s}, #{room.level_s}
        %td
          = room.computer.present? ? "<i class='icon-desktop'></i> ".html_safe : ''
          = room.board.present? ? "<i class='icon-picture'></i> ".html_safe : ''
          = room.projector.present? ? "<i class='icon-lightbulb'></i> ".html_safe : ''
        %td= room.users.map(&:firstname).join(', ')
        %td.center
          = room.boardchecks.count
          \/
          = l room.boardchecks.latest.created_at.to_date, format: :short rescue '-'
        - if permitted_to? :read, room
          %td.right= room.quests.count
          %td
            .btn-group
              %a.btn.btn-primary.btn-small{ href: room_path(room) }
                %i.icon-home.icon-white= " Details"
              - if permitted_to?(:create, :boardchecks) or permitted_to?(:edit, room)
                %a.btn.btn-primary.btn-small.dropdown-toggle( data-toggle='dropdown' )
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "<i class='icon-check'></i> Neuer Tafelcheck".html_safe, new_boardcheck_path(room_id: room.id)
                  %li= link_to "<i class='icon-qrcode'></i> Code drucken".html_safe, info_room_path(room)
                  %li= link_to "<i class='icon-calendar'></i> Tafelritterplan".html_safe, knighttable_path(roomname: room.name)
                  - if permitted_to?(:edit, room)
                    %li= link_to "<i class='icon-edit'></i> Bearbeiten".html_safe, edit_room_path(room)
                  - if permitted_to?(:destroy, room)
                    %li= link_to "<i class='icon-trash'></i> Löschen".html_safe, room_path(room), data: { method: :delete, confirm: 'Seid Ihr sicher?' }
