- model_class = Room
.page-header
  %h1
    %i.icon-home
    Räume

= render partial: 'table', locals: { rooms: @rooms }

- if permitted_to? :create, Room.new
  = link_to "Raum erstellen", new_room_path, :class => 'btn btn-primary'
