- model_class = Room
.page-header
  %h1
    %i.icon-home
    Raum #{@room.name}
    %small #{@room.building_s}, #{@room.level_s}

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), rooms_path, :class => 'btn'
  - if permitted_to? :create, @room.boardchecks.build
    = link_to 'Neuer Tafelcheck', new_boardcheck_path, :class => 'btn btn-primary'
  - if permitted_to? :edit, @room
    = link_to 'Raum bearbeiten', edit_room_path(@room), :class => 'btn'
    = link_to 'Raum löschen', room_path(@room), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

%h2
  %i.icon-check
  Boardchecks
- unless @boardchecks.present?
  Noch keine Überprüfungen durchgeführt.
- else
  = render partial: 'boardchecks/table', locals: { boardchecks: @boardchecks }
%hr


%h2 
  %i.icon-desktop
  Computer

- unless @computer.present?
  Kein Computer.
  -# = link_to "Computer eintragen…", new_computer_path( @room.build_computer )
- else
  = render @computer
%hr


%h2
  %i.icon-picture
  ActivBoard

- unless @board.present?
  Kein ActivBoard.
  -# = link_to "ActivBoard eintragen…", new_board_path( @room.build_board )
- else
  = render @board
%hr

%h2
  %i.icon-lightbulb
  Beamer

- unless @projector.present?
  Kein Beamer.
  -# = link_to "Beamer eintragen…", new_projector_path( @room.build_projector )
- else
  = render @projector
%hr
