// Place all the styles related to the Boardchecks controller here.

.table .center {
  text-align: center;
}

.table .right {
  text-align: right;
}

.form-horizontal {
  div.checkbox.inline {
    .control-label {
      text-align: left;
      width: 600px;
      display: inline;
      padding-left: 0px;
    }
  }

  .control-group.boolean {
    margin-bottom: 0px;
  }
}
