// Place all the styles related to the Knighttable controller here.

table.knighttable {
  width: 95%;
  
  td {
    border: none;
    padding: 2px 5px;
  }

	td.name {
	  width: 60%;
    // background: #DFF0D8;
	}

	td.room {
	  width: 40%;
		// background: #DFF0D8;
	}
}
