%p Willkommen als neuer MSO Tafelritter, #{@resource.titled}!

%p
  Du bist jetzt auf dem
  %strong MSO Boardmanager (
  = link_to root_url, root_url
  ) angemeldet.

%p
  Dein Login:
  %center
    %strong= @email

%p
  Dein Passwort ist:
  %center
    %strong= @resource.password
  Du solltest es beim ersten Einloggen auf ein Passwort Deiner Wahl ändern.

%p 
  Damit Du Dein Benutzerkonto voll nutzen kannst, 
  bestätige es durch Klicken auf diesen Link:

%center= link_to 'Meine Email-Adresse bestätigen', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p Vielen Dank für Deine Bereitschaft, an dem Projekt ‘Elektronische Tafeln an der MSO’ mitzuarbeiten! :)
