%p
  Hallo #{@resource.email}!

%p Jemand hat einen Link angefordert, um Dein Passwort zurückzusetzen. Wenn Du das Passwort ändern möchtest, klicke auf diesen Link:

%p
  Jetzt
  = link_to 'mein Passwort ändern!', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Wenn Du das nicht selbst gewesen bist, kannst Du diese Nachricht einfach ignorieren.

%p Dein Passwort wird nicht geändert, solange Du nicht auf den Link oben klickst und ein neues Passwort speicherst.
