%p
  Hallo #{@resource.email}!
  
%p Dein Account musste gesperrt werden, weil es zu viele Anmeldeversuche mit fehlerhaftem Passwort gab.  
  
%p Klicke auf diesen Link, um Dein Konto wieder frei zu schalten:

%p= link_to 'Meinen Account entsperren', unlock_url(@resource, :unlock_token => @resource.unlock_token)
