.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{ href: root_url }= Rails.env.development? ? "DEV Tafelrunde" : "Tafelrunde"
      %ul.nav.pull-right
        - if signed_in?
          %li.dropdown{ class: @active == :user && 'active' }
            %a.dropdown-toggle(data-toggle='dropdown' href='#')
              %i.icon-user
              = current_user.level_s
              = current_user.firstname
              %span.caret
            %ul.dropdown-menu
              %li= link_to "<i class='icon-calendar'></i> Bereitschaften".html_safe, user_duties_path(current_user)
              - if current_user.twitters?
                %li= link_to "<i class='icon-twitter'></i> Test-Tweet".html_safe, tweet_user_path(current_user), method: :post
              %li= link_to "<i class='icon-pencil'></i> Einstellungen".html_safe, edit_user_registration_path
              %li= link_to "<i class='icon-signout'></i> Abmelden!".html_safe, destroy_user_session_path, method: :delete
        - else
          %li.inverse= link_to "<i class='icon-signin'></i> Anmelden".html_safe, new_user_session_path
      .container.nav-collapse
        %ul.nav
          %li{ class: @active == :users && 'active' }= link_to "Ritter", users_path
          %li{ class: @active == :table && 'active' }= link_to "Plan", knighttable_path
          %li{ class: @active == :rooms && 'active' }= link_to "Räume", rooms_path
          - if signed_in?
            %li{ class: @active == :quests && 'active' }= link_to "Gesuche", quests_path
          - else
            %li= link_to "Hilfe!", new_quest_path
