!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "#{'DEV ' if Rails.env.development? }MSO Tafelrunde"
    = csrf_meta_tags
    = stylesheet_link_tag "application#{'_development' if Rails.env.development?}", :media => 'all'
    = stylesheet_link_tag 'print', :media => 'print'
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'apple-touch-icon.png', rel: "apple-touch-icon", sizes: "57x57", type: nil
    = favicon_link_tag 'apple-touch-icon-72x72.png', rel: "apple-touch-icon", sizes: "72x72", type: nil
    = favicon_link_tag 'apple-touch-icon-114x114.png', rel: "apple-touch-icon", sizes: "114x114", type: nil
    = favicon_link_tag 'apple-touch-icon-144x144.png', rel: "apple-touch-icon", sizes: "144x144", type: nil

  %body
    = render 'layouts/navbar'

    .container
      .row
        .span12
          = bootstrap_flash
          = yield
      - if signed_in?
        .footer.inline-list
          %ul
            %li= link_to "Tafelritter", users_path
            %li= link_to "Ritterplan", knighttable_path
            %li= link_to "Räume", rooms_path
            %li= link_to "Tafelchecks", boardchecks_path
            %li= link_to "Hilfegesuche", quests_path
            %li= link_to "Computer", computers_path
            %li= link_to "Tafeln", boards_path
            %li= link_to "Beamer", projectors_path
            %li
              %span.copyright
                &copy; 1866-2013 M. Kühnert,
                = link_to "Marienschule Opladen", 'http://marienschule.com', target: :new

    = javascript_include_tag "application"
