!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "#{'DEV ' if Rails.env.development? }MSO BoardManager"
    = csrf_meta_tags
    = stylesheet_link_tag "application#{'_development' if Rails.env.development?}", :media => "all"
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'apple-touch-icon.png', rel: "apple-touch-icon", sizes: "57x57", type: nil
    = favicon_link_tag 'apple-touch-icon-72x72.png', rel: "apple-touch-icon", sizes: "72x72", type: nil
    = favicon_link_tag 'apple-touch-icon-114x114.png', rel: "apple-touch-icon", sizes: "114x114", type: nil
    = favicon_link_tag 'apple-touch-icon-144x144.png', rel: "apple-touch-icon", sizes: "144x144", type: nil

  %body
    .container
      .row
        .span8.offset2
          = bootstrap_flash
          = yield

    = javascript_include_tag "application"
