!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "#{'DEV ' if Rails.env.development? }MSO BoardManager"
    = csrf_meta_tags
    = stylesheet_link_tag "application#{'_development' if Rails.env.development?}", :media => "all"

  %body
    .container
      = yield
